/* #D6E1F0
#2B7EFA */

* {
    box-sizing: border-box;
}

body{
    background: #D6E1F0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}



.child{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 294px;
    height: 465px;
}

.child img{
    border-radius: 10px;
    width: 100%;
}

.child p {
    color: darkgray;
    margin-bottom: 30px;
}

